02_00_Admin_and_Technical_issues/
02_01_ETL/.ipynb_checkpoints/
02_01_ETL/auxiliary/
02_01_ETL/obsolete/
02_01_ETL/TEST_offset_impact/
02_01_ETL/img/obsolete/

02_02_Analysis/.ipynb_checkpoints/
02_02_Analysis/obsolete/
02_02_Analysis/img/obsolete/

02_03_LSTPeriod/*.zip
02_03_LSTPeriod/.ipynb_checkpoints/
02_03_LSTPeriod/obsolete/
02_03_LSTPeriod/auxiliary/
02_03_LSTPeriod/img/obsolete/
02_03_LSTPeriod/PG_subsample_RV_LSTperiod/
02_03_LSTPeriod/PG_subsample_RV_StackedPg/
02_03_LSTPeriod/PG_subsample_TESS_LSTperiod/
02_03_LSTPeriod/PG_subsample_TESS_StackedPg/
02_03_LSTPeriod/S1_ForPG_LSTperiod/
02_03_LSTPeriod/S1_ForPG_StackedPg/
02_03_LSTPeriod/S2_ForPG_LSTperiod/
02_03_LSTPeriod/S2_ForPG_StackedPg/
02_03_LSTPeriod/S3_ForPG_LSTperiod/
02_03_LSTPeriod/S3_ForPG_StackedPg/
02_03_LSTPeriod/S4_ForPG_LSTperiod/
02_03_LSTPeriod/S4_ForPG_StackedPg/
02_03_LSTPeriod/GTO_TESS_LC_LSTperiod/

02_04_SyntheticDataset/.ipynb_checkpoints/
02_04_SyntheticDataset/obsolete/
02_04_SyntheticDataset/auxiliary/
02_04_SyntheticDataset/img/obsolete/
02_04_SyntheticDataset/img/auxiliary/

02_05_FeatureExtraction/.ipynb_checkpoints/
02_05_FeatureExtraction/obsolete/
02_05_FeatureExtraction/auxiliary/
02_05_FeatureExtraction/img/obsolete/
02_05_FeatureExtraction/img/auxiliary/

02_06_MachineLearning/.ipynb_checkpoints/
02_06_MachineLearning/obsolete/
02_06_MachineLearning/auxiliary/
02_06_MachineLearning/img/obsolete/
02_06_MachineLearning/img/auxiliary/

CEM_code_snippets.txt

data/backup_folders/

code/
